body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: white;
}


.card-title,
.card-text {
    text-align: justify;
}

.card-text {
    font-size: 1rem;
    line-height: 1.10;
}

.text-purple {
    color: blueviolet;
}

.max-container {
    max-width: 1200px;
    margin: 0 auto;
}

.portafolio {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galeria-port {
    width: calc(60% - 20px);
    flex-wrap: wrap;
    gap: 15px; 

}

.imagen-port {
    width: calc(25% - 20px); 
    margin-bottom: 20px; 
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

.imagen-port>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%; 
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.imagen-port img {
    max-width: 100%;
}

.clientes.contenedor {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.cards {
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    margin-top: 20px; 
}

.card {
    width: calc(50% - 20px); 
    margin-bottom: 20px; 
    background: #4d0686;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.card > .contenido-texto-card {
    flex: 1; 
    color: #fff;
    padding: 0 10px; 
}

.card > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}



@media (max-width: 768px) {
    .max-container {
      max-width: 90%; 
    }
  
    .portafolio .galeria-port {
      width: calc(80% - 20px); 
    }
  
    .imagen-port {
      width: calc(50% - 20px);
    }
  
    .clientes.contenedor .cards {
      flex-direction: column; 
    }
  
    .card {
      width: 100%;
    }
  }
  


