body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: whitesmoke;
}

/* Texto en negrita, justificado y más pequeño */
.card-title,
.card-text {
    text-align: justify;
}

.card-text {
    font-size: 1rem;
    line-height: 1.10;
}

.text-purple {
    color: blueviolet;
}

.max-container {
    max-width: 1200px; /* Cambia este valor según tus preferencias */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.portafolio {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galeria-port {
    width: calc(60% - 20px);
    flex-wrap: wrap;
    gap: 15px; /* Espacio entre las imágenes */

}

.imagen-port {
    width: calc(25% - 20px); /* Ajusta el ancho para que haya cuatro imágenes por fila */
    margin-bottom: 20px; /* Añade un margen inferior entre las imágenes */
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

.imagen-port>img {
    width: 300px; /* Ancho de la imagen */
    height: 200px; /* Altura de la imagen */
    object-fit: cover; /* Hace que la imagen se adapte y se recorte según sea necesario */
    max-width: 100%; /* Limita el ancho máximo de la imagen al 100% del contenedor */
    max-height: 100%; /* Limita la altura máxima de la imagen al 100% del contenedor */
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.imagen-port img {
    max-width: 100%;
}

.clientes.contenedor {
    display: flex; /* Utiliza flexbox para el diseño */
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    max-width: 1200px; /* Establece un ancho máximo */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.cards {
    width: 100%; /* Ajusta el ancho al 100% */
    display: flex; /* Utiliza flexbox para los elementos hijos */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
    justify-content: space-evenly; /* Distribuye uniformemente las tarjetas horizontalmente */
    margin-top: 20px; /* Añade un margen superior para separarlo del título */
}

.card {
    width: calc(50% - 20px); /* Calcula el ancho de cada tarjeta, teniendo en cuenta el margen */
    margin-bottom: 20px; /* Añade un margen inferior entre las tarjetas */
    background: #4d0686;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.card > .contenido-texto-card {
    flex: 1; /* Haz que el contenedor de texto ocupe el espacio restante */
    color: #fff;
    padding: 0 10px; /* Agrega un poco de espacio interno para separar el texto de los bordes */
}

.card > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/* Estilos para tamaños de pantalla pequeños */
@media (max-width: 768px) {
    .max-container {
      max-width: 90%; /* Reducir el ancho máximo del contenedor en pantallas pequeñas */
    }
  
    .portafolio .galeria-port {
      width: calc(80% - 20px); /* Ajustar el ancho de la galería en pantallas pequeñas */
    }
  
    .imagen-port {
      width: calc(50% - 20px); /* Ajustar el ancho de las imágenes en la galería en pantallas pequeñas */
    }
  
    .clientes.contenedor .cards {
      flex-direction: column; /* Apilar las tarjetas verticalmente en pantallas pequeñas */
    }
  
    .card {
      width: 100%; /* Ocupar todo el ancho en pantallas pequeñas */
    }
  }
  
  /* Estilos para tamaños de pantalla medianos */
  @media (min-width: 768px) and (max-width: 992px) {
    /* Agregar estilos específicos para pantallas medianas si es necesario */
  }
  
  /* Estilos para tamaños de pantalla grandes */
  @media (min-width: 992px) {
    /* Agregar estilos específicos para pantallas grandes si es necesario */
  }
  
