<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formación avanzada</title>
    <link rel="shortcut icon" href="assets/img/cabeza.png" type="image/x-icon">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
    <style>
 
    </style>

<app-encabezado [st]="subtitulo" [t]="titulo"></app-encabezado>

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-12 d-flex justify-content-center">
        <img src="assets/img/curso1.jpg" class="img-fluid rounded-start w-50" alt="...">
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <div class="card-body text-center">
          <h5 class="card-title">Formación avanzada</h5>
          <p class="card-text">El curso avanzado sobre educación sexual proporciona un estudio profundo y especializado de los conceptos clave relacionados con la salud sexual y reproductiva. Diseñado para aquellos que desean expandir su comprensión y habilidades en este campo, este curso aborda temas avanzados y desafiantes para promover un entendimiento más completo y crítico de la sexualidad humana.</p>
          <h3>Contenido del Curso:</h3>
          <ul class="list-unstyled">
            <li><strong>Anatomía y Fisiología Avanzada:</strong> Este módulo profundiza en la anatomía sexual y los procesos fisiológicos relacionados con la sexualidad humana, explorando temas como la respuesta sexual, la reproducción asistida y la disfunción sexual.</li>
            <li><strong>Salud Sexual Integral:</strong> Aquí se analizan en detalle los aspectos de la salud sexual, incluyendo la prevención y tratamiento de enfermedades de transmisión sexual, la salud reproductiva, la salud mental y emocional en relación con la sexualidad.</li>
            <li><strong>Sexualidad en la Cultura y la Sociedad:</strong> Este módulo examina la influencia de la cultura, la religión, la política y otros factores sociales en la percepción y expresión de la sexualidad, así como los desafíos y las oportunidades para la educación sexual en diversas comunidades.</li>
            <li><strong>Investigación y Avances en Sexualidad:</strong> Se revisan las últimas investigaciones y avances en el campo de la sexualidad humana, incluyendo nuevos métodos anticonceptivos, terapias sexuales, tecnologías reproductivas y otros desarrollos relevantes.</li>
          </ul>
          <h3>Metodología:</h3>
          <p>El curso avanzado combina una variedad de metodologías educativas, como lecturas especializadas, estudios de casos, debates, investigaciones dirigidas y proyectos prácticos. Se fomenta la participación activa de los estudiantes y se promueve un ambiente de aprendizaje colaborativo y crítico.</p>
          <h3>Objetivos del Curso:</h3>
          <ul class="list-unstyled">
            <li>Profundizar en el conocimiento de la anatomía, fisiología y salud sexual humana.</li>
            <li>Desarrollar habilidades para abordar y resolver problemas complejos relacionados con la sexualidad.</li>
            <li>Analizar críticamente la influencia de los contextos socio-culturales en la sexualidad.</li>
            <li>Familiarizarse con las últimas investigaciones y avances en el campo de la educación sexual.</li>
            <li>Capacitar a los participantes para liderar iniciativas de educación sexual avanzada en sus comunidades.</li>
          </ul>
          <p>Al completar este curso, los participantes estarán preparados para abordar de manera avanzada y efectiva los desafíos y oportunidades en el campo de la educación sexual, contribuyendo al bienestar y la salud sexual de individuos y comunidades.</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>