.card {
    background-color: rgb(201, 119, 219); 
    color: white; 
    text-align: center; 
    height: 100%; 
  }
body{
  background-color: white;
}
  .card img {
    width: 100%; 
    height: auto; 
  }

  .card-body {
    padding: 20px; 
  }
  .text-purple {
    color: blueviolet;
}

  .quienes-somos-texto {
    background-color: #e6e6fa; 
    padding: 20px; 
    border-radius: 10px; 
  }
  .card-title {
    margin-top: 15px; 
  }

  .card-text {
    margin-bottom: 15px; 
  }

  .container {
    background-color: white;
  }