.card {
    background-color: rgb(107, 0, 128); 
    color: white; 
    text-align: center; 
    height: 100%; 
  }

  .card img {
    width: 100%; 
    height: auto; 
  }

  .card-body {
    padding: 20px; 
  }

  .quienes-somos-texto {
    background-color: #e6e6fa; 
    padding: 20px; 
    border-radius: 10px; 
  }

  .card-title {
    margin-top: 15px; 
  }

  .card-text {
    margin-bottom: 15px; 
  }