  
  <div class="container" style="margin-bottom: 100px;">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
      <div class="col">
        <div class="card border-0">
          <img src="assets/img/ilustracion1.svg" class="card-img-top mt-5" alt="" style="max-height: 150px;">
          <div class="card-body">
            <h5 class="card-title">Metodo Innovador</h5>
            <p class="card-text">Hacemos llegar a la nueva generación una manera de aprendizaje nunca vista</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0">
          <img src="assets/img/ilustracion4.svg" class="card-img-top mt-5" alt="" style="max-height: 150px;">
          <div class="card-body">
            <h5 class="card-title">Asistencia y ayuda</h5>
            <p class="card-text">Contamos con un gran equipo de asistencia y ayuda en todo momento en caso de necesitarla, con un seguimiento de cerca</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0">
          <img src="assets/img/ilustracion3.svg" class="card-img-top mt-5" alt="" style="max-height: 150px;">
          <div class="card-body">
            <h5 class="card-title">Explorar</h5>
            <p class="card-text">Adentrate en una nueva aventura en busca de la exploracion de nuevos conocimientos</p>
          </div>
        </div>
      </div>
    </div>  
  </div>